@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600');

:root {
  --bg-dark: #5e506d;
  --bg-light: #fff;
  --text-dark: #494949;
  --text-gray: #9b9b9b;
  --text-light: #fff;
  --text-link: #de9a8b;
  --showcase-transparent: rgba(94, 80, 109, 0.75);
}

/* GENERAL STYLES */

html, body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 1em;
  font-family: Dosis;
}

a {
  text-decoration: none;
  color: var(--text-light);
}

a.ext-link {
  text-decoration: underline;
  color: var(--text-link);
}

/* UTILITY CLASSES */

.btn {
  border: 2px solid var(--text-light);
  text-align: center;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--text-light);
}

.btn-main {
  display: inline-block;
  width: 33.3vw;
  height: 4rem;
  line-height: 4rem;
  margin: auto;
  font-size: 1.2rem;
  border-radius: 2rem;
}

.btn-white {
  background: var(--bg-light);
  color: var(--text-gray);
}

.btn-small {
  border-radius: 1.5rem;
  padding: 0.5rem 1.5rem;
  background: var(--bg-light);
  color: var(--text-gray);
  font-weight: 600;
}

.content-box {
  width: 60%;
  margin: auto 0;
}

.content-box > p {
  margin: 0;
}

/* NAVBAR */

nav {
  height: 6rem;
  margin-bottom: 20vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

nav img {
  height: 4rem;
  margin: 1rem;
  float: left;
}

nav ul {
  list-style-type: none;
  margin: 0 2rem;
  text-align: right;
}

nav li {
  display: inline-block;
  line-height: 6rem;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: center;
  color: var(--text-light);
  text-transform: uppercase;
  margin: 0 0.5rem;
}

/* TOP SHOWCASE */
#top-showcase-wrap {
  background: var(--bg-dark);
  width: 100%;
  height: 100vh;
  text-align: center;
}

#top-showcase-wrap video {
  height: 100%;
}

.showcase-overlay {
  background-color: var(--showcase-transparent);
  height: 100vh;
  width: 100vw;
  position: absolute;
  top:0;
  left:0;
}

.showcase-text {
  width: 60vw;
  margin: auto;
  margin-bottom: 5rem;
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center;
  text-shadow: 2px 2px 1px var(--bg-dark);
  color: var(--text-light);
}

/* SECTIONS */
section {
  display: grid;
}

section .title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.section-light {
  background: var(--bg-light);
  color: var(--text-dark)
}

.section-light .title {
  font-weight: 200;
  color: var(--bg-dark);
}

.more {
  margin-top: 2.5rem;
} 

/* ABOUT US */
section#about-us {
  height: 80vh;
  grid-template-columns: 1fr 1fr;
}

section#about-us .image-box {
  background-image: url(img/team.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* JOURNEY */
#map-showcase-img {
  background-image: url(img/map.png);
  height: 90vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#journey .showcase-text {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.75px;
}

#journey .showcase-title {
  margin: auto;
  padding-top: 8rem;
  padding-bottom: 3rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
}

/* FAQ */
section#faq {
  display: block;
  padding: 5rem 10rem;
  padding-bottom: 0;
}

section#faq .content-box {
  margin-bottom: 5rem;
}


/* SUPPORT */
section#support {
  grid-template-columns: 1fr 1fr;
}

#text-charity {
  padding: 5rem 0; 
  margin-left: 15vw;
}

#text-expenses {
  margin: 0;
}

#support img {
  margin: auto;
}

#support img#pass-img {
  margin-left:25vw;
  margin-bottom: 5rem;
}

/* BOTTOM SHOWCASE */
#bottom-showcase {
  height: 75vh;
  background: var(--bg-dark);
  color: var(--text-light)
}

#bottom-showcase p {
  margin-bottom: 2.5rem;
}

#bottom-showcase .showcase-text {
  padding-top: 15vh;
}

#funding-btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  margin-bottom: 2rem;
}

/* FOOTER */
footer {
  height: 40vh;
  background: var(--text-dark);
  color: var(--text-light);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 10vh;
}

footer > p {
  margin: 0;
  margin-left: 10vw;
}

footer #social-links {
  margin-left: 15vw;
}

footer .social-title {
  margin: 0;
  margin-left: 15vw;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
}

footer .social {
  display: grid;
  grid-template-columns: 1fr 11fr;
  grid-gap: 1rem;
  margin-top: 1rem;
}

/*********************/
/*********************/

/* MOBILE */
@media(max-width: 800px) {
  
  html, body {
    font-size: 0.5rem;
    width: 100vw;
  }

  .nomobile {
    display: none;
  }

  section .title {
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  .content-box {
    width: 60vw;
    margin: 0 auto;
    font-size: 2rem;
  }

  .btn {
    border: 1px solid var(--text-light);
  }
  
  .btn-main {
    display: block;
    width: 60vw;
  }

  /* MOBILE - TOP SHOWCASE */
  nav {
    height: 5vh;
    margin-bottom: 10vh;
  }

  nav img {
    height: 5vh;
  }

  nav ul {
    display: none;
  }

  #top-showcase-wrap {
    display: none;
  }  
  
  #top-showcase-wrap video {
    display: none;
  }

  .showcase-overlay {
    height: auto;
    position: relative;
    padding-bottom: 5rem;
  }

  .showcase-text {
    width: 80vw;
  }

  /* MOBILE - ABOUT US */
  section#about-us {
    height: auto;
    grid-template-columns: 1fr;
    padding: 10rem 0;
  }

  section#about-us .image-box {
    display: none;
  }

  /* MOBILE - JOURNEY */
  #map-showcase-img {
    background-image: url(img/map.png);
    height: auto;
  }

  #journey .showcase-title {
    padding-top: 10rem;
    padding-bottom: 5rem;
    font-size: 2rem;
  }

  #journey .showcase-text {
    width: 80vw;
    padding-bottom: 10rem;
  }

  /* MOBILE - SUPPORT */
  section#support {
    grid-template-columns: 1fr;
  }

  #text-charity {
    padding: none;
    margin-left: auto;
    width: 60vw;
  }

  #text-expenses {
    width: 60vw;
    margin: 8rem auto;
  }

  #support img#car-img {
    width: 60vw;
  }

  #support img#pass-img {
    display: none;
  }

  /* MOBILE - BOTTOM SHOWCASE */
  #bottom-showcase {
    height: auto;
    padding: 5rem 0;
  }

  #bottom-showcase .showcase-text {
    padding-top: 0;
    width: 80vw;
  }

  #bottom-showcase .ext-link {
    font-size: 1.5rem;
  }

  #funding-btn {
    grid-template-columns: 1fr;
  }
  
  /* FOOTER */
  footer {
    height: auto;
    grid-template-columns: 1fr;
    padding: 5rem;
  }

  footer #social-links {
    margin: auto;
    margin-left: auto;
    width: 40vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  footer .social-title {
    margin-left: 0;
    font-size: 1.5rem;
    text-align: center;
  }

  footer .social {
    display: inline-block;
    margin-top: 1rem;
    text-align: center;
  }

  footer .social img {
    margin: 1rem;
  }

  footer .social .ext-link {
    display: none;
  }

  footer > p {
    margin-left: 0;
    padding: 2rem 0;
    font-size: 1.5rem;
    text-align: center;
  }
}